section.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin-bottom: 3rem;
}

.pagination-btn {
  background-color: #245be7;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}

.pagination-btn.disabled {
  background-color: #245be780;
}
